# Flask (веб-сервер)
Flask==3.1.1
nltk==3.9.1
pymorphy3==2.0.4
pymorphy3-dicts-ru==2.4.417150.4580142

# Общие зависимости для HTTP
certifi==2025.8.3
charset-normalizer==3.4.3
idna==3.10
urllib3==2.5.0
